<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gtgt.loginmodulelibrary"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".loginmodule.view.RegistrationActivity"
            android:screenOrientation="behind"
            android:theme="@style/Theme.Transparent"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />

        <!-- related to facebook sdk -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Rummy Play Money" />

        <receiver
            android:name="com.gtgt.utils.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.gtgt.utils.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>


</manifest>